<html>
    <header id="topHeader">
        <form id="createNoteBtnForm" action="./createNote.hbs" method="get">
            <button class="buttonStyle" id="createNote">Create New Note</button>
        </form>
        <button class="buttonStyle" id="selectStyleBtn">Style Switcher</button>
        </header>
    <section id="sort">
        <button class="buttonStyle" id="hideFinished">Hide Finished</button>
        <button class="buttonStyle" id="sortFinishDate">By finish Date</button>
        <button class="buttonStyle" id="sortCreateDate">By created Date</button>
        <button class="buttonStyle" id="sortImportance">By Importance</button>
    </section>
    <section id="notes">

            {{#each notes}}
                <div class="noteHeaders">
                    <p>{{completed}}</p>
                    <p>{{title}}</p>
                    <p class="priority">{{priority}}</p>
                </div>
                <div class="completeCheckbox">
                    <input type="checkbox" class="checkbox";><label> Erledigt</label>
                </div>
                <div class ="descriptionContainer">
                    <textarea>{{desc}}</textarea>
                </div>
                <div class="editButton">
                    <button type="submit" name="edit_button">Edit</button>
                </div>
            {{/each}}

    </section>
</html>