<html>
    <header id="topHeader">
        <form id="createNoteBtnForm" action="/createNote" method="get">
            <button class="buttonStyle" id="createNote">Create New Note</button>
        </form>
        <button class="buttonStyle" id="selectStyleBtn">Style Switcher</button>
        </header>
    <section id="sort">
        <button class="buttonStyle" id="hideFinished">Hide Finished</button>
        <button class="buttonStyle" id="sortFinishDate">By finish Date</button>
        <button class="buttonStyle" id="sortCreateDate">By created Date</button>
        <button class="buttonStyle" id="sortImportance">By Importance</button>
    </section>
    <section id="notes">
            {{#each notes}}
                <div class="notesDiv">
                    <div class="noteHeaders">
                        <p>{{finishedTill}}</p>
                        <p>{{title}}</p>
                        <div value="{{importance}}" class="priority"></div>
                    </div>
                    <div class="completeCheckbox">
                        <input type="checkbox" class="checkbox";><label class="erledigt"> Erledigt</label>
                    </div>
                        <textarea class="descriptionNote">{{description}}</textarea>
                        <button type="submit" class="buttonStyle" name="edit_button">Edit</button>
                </div>
            {{/each}}
    </section>
</html>