<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <title>{{title}}</title>
      {{#if style}}
          <link rel='stylesheet' href='/stylesheets/style2.css' />
      {{else}}
          <link rel='stylesheet' href='/stylesheets/style.css' />
      {{/if}}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
