body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.page-wrapper{
  margin: 0 auto;
}
#submenu form{
  display:inline-flex;
}
.noteHeaders{
  display: flex;
}
.priority{
  font-size:2em;
}
.priority[value="5"]:before{
  content:'★★★★★'
}
.priority[value="4"]:before{
  content:'★★★★☆'
}
.priority[value="3"]:before{
  content:'★★★☆☆'
}
.priority[value="2"]:before{
  content:'★★☆☆☆'
}
.priority[value="1"]:before{
  content:'★☆☆☆☆'
}
#topHeader, #submenu, .notesDiv, .titlePriority{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

#submenu{
  border-bottom: solid black 1px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.buttonStyle{
  margin-top:10px;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  width: 150px;
  background: black;
  height: 50px;
  color: white;
  font-size: 1.1em;
}
.buttonStyle:hover{
  background: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
#headNotes{
  width: 100%;
  padding-bottom:2em;
  border-bottom: solid 1px;
}
.input-wrapper{
  font-size: 1.1em;
  color:black;
  display:flex;
  margin-top:1em;
  flex-direction:column;
  justify-content:space-between;
}
.input-wrapper label{
  margin-bottom:3px;
}
.input-wrapper input[type='text'], .input-wrapper input[type='number'], .input-wrapper input[type='date'], .input-wrapper textarea{
  font-size: 0.75em;
  padding-left: 0.4em;
  height:2.5em;
}
.input-wrapper textarea{
  height:6em;
}
.button-wrapper{
  display:flex;
  flex-wrap:wrap;
  justify-content:flex-start;
}
.button-wrapper button{
  margin-right:1em;
}
#postNoteForm{
  position:absolute;
  width:50%;
  left:25%;
}
.notesDiv{
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 2em;
}

.erledigt{
  font-weight: bold;
  margin-right: 20px;

}
.descriptionNote{
  font-size: 1em;
  padding-top: 0.5em;
  padding-left:0.5em;
  width: 100%;
  height: 6em;
  box-sizing:border-box;
}
.titleDescriptionWrapper{
  display:flex;
  flex-wrap:wrap;
  width:65%;
}
.editButtonWrapper button{
  margin-top:3.2em;
}
.titlePriority{width:100%;}
.timeFinished{
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
}

@media (max-width: 836px){
  .editButtonWrapper button{
    margin-top:1em;
    width:100%;
  }
  .priority{font-size: 1.5em;}
  .titleDescriptionWrapper, .sortButtons, .editButtonWrapper, .button-wrapper button, #submenu button, #submenu form {width:100%;}
  h1{
    font-size:1.5em;
  }
  #postNoteForm{
    width:100%;
    left:auto;
    position:inherit;
  }
  .button-wrapper button{
    margin-right:0px;
  }
}

@media (max-width: 414px){
  #createNote, #selectStyleBtn, #topHeader form{
    width:100%;
  }
}